.homepagee {
  background-color: black;
  margin: 100px 0 0 0;
  padding-left: 50px;
  font-family: Ember, Helvetica, Arial, "sans-serif";
  color: white;
}

.artist-card {
  width: 180px;
  margin: 10px;
  border-radius: 10px;
  margin-top: -35px;
  transition: transform 0.5s ease;
}

.slide-in {
  transform: translateX(0);
}

/* Add this class to slide out cards */
.slide-out {
  transform: translateX(-100%);
  /* Slide out to the left */
}


.buttonContainer {
  align-items: flex-start;
  display: flex;
  gap: 25px;
  justify-content: flex-end;
  margin-right: 20px;
  width: 225px;
}

.merging {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titles {
  padding: 0px;
  padding-left: 10px;
}

.artist-image {
  max-width: 180px;
  height: 180px;
  border-radius: 10px;
}

.artist-name {
  margin-top: 10px;
  font-weight: bold;
}

.load-more-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 15px;
}


.artist-card .buttons {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  opacity: 0;
}

.playbutton-image {
  height: 40px;
  width: 40px;
  margin-top: 15px;
}

.artist-card .buttons button {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  border-radius: 60%;
  font-size: 50px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  width: 90px;
  height: 90px;
  border: none;
}


.artist-card:hover .buttons {
  opacity: 1;

}

.featured-list-container {
  margin: 0px;
  padding: 1px;
}

.button-container {
  display: flex;
  margin-right: 25px;
  align-items: center;
}

.show-less-button,
.load-more-button,
.show-all-button {
  background-color: black;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 12px;
}

.card-container {
  display: flex;
  transition: transform 1.5s;


}

.show-all-button {
  background-color: rgba(255, 255, 255, 0.15);
  text-align: center;
  border-radius: 22px;
  text-decoration: none;
  border: 0.1px solid lightgray;
  backdrop-filter: blur(30px);

}


.featured-list {
  list-style: none;
  padding: 0;
  gap: 26px;
  display: grid;
  overflow-x: auto;
  grid-auto-flow: column;
  margin-top: -35px;
  transition: transform 0.5s ease;
}

.featured-list1 {
  list-style: none;
  padding: 0;
  gap: 26px;
  display: grid;
  overflow-x: auto;
  grid-auto-flow: column;
  margin-bottom: 100px;
  margin-top: -35px;

}

.featured-list-all {
  list-style: none;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-bottom: 0px;
  margin-top: -20px;
  margin-left: -40px;
}

.featured-list-all1 {
  list-style: none;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-bottom: 0px;
}

.featured-list::-webkit-scrollbar {
  height: 0;
}

.featured-list1::-webkit-scrollbar {
  height: 0;
}

.featured-item-card {
  flex-basis: calc(33.3333% - 20px);
  margin: 10px;
  padding: 10px;
  text-align: center;
  position: relative;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.featured-item-card img {
  max-width: 100%;
}

.featured-item-name,
.titlesss,
.titless,
.artistsname {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
  text-align: start;
  padding-left: 2px;
}

.titlesss {
  margin-top: 6px;
  font-weight: 400;
}

.titless {
  margin-top: -12px;
  font-weight: 400;
}

.artistsname {
  margin-top: -15px;
  font-weight: 300;
  color: gray;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.demo-bg {
  position: relative;
}

.demo-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  opacity: 1;
  filter: blur(8px);
}

.image-icon {
  opacity: 0.6;
}

/* Styles for tablets (768px and below) and mobile devices (414px and below) */
@media only screen and (max-width: 768px) {
  .homepagee {
    padding-left: 20px;
  }

  .artist-card {
    width: 140px;
    margin: 10px;
  }

  .buttonContainer {
    margin-right: 10px;
  }

  .featured-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .featured-item-card {
    flex-basis: calc(50% - 20px);
    margin: 10px;
  }

  .featured-item-name,
  .titlesss,
  .titless,
  .artistsname {
    max-width: 150px;
  }
}

/* Styles for mobile devices (414px and below) */
@media only screen and (max-width: 420px) {
  .homepagee {
    margin: 50px 0 0 0;
    padding-left: 10px;
  }

  .artist-card {
    width: 100px;
    margin: 5px;
  }

  .buttonContainer {
    margin-right: 5px;
  }

  .featured-item-card {
    flex-basis: calc(100% - 20px);
    margin: 5px;
    padding: 5px;
  }

  .featured-list {
    display: flex;
    flex-direction: row;
    gap: 90px;
  }

  .featured-list1 {
    display: flex;
    flex-direction: row;
    gap: 90px;
  }

  .featured-item-name,
  .titlesss,
  .titless,
  .artistsname {
    max-width: 120px;
  }

  .demo-bg::before {
    filter: blur(4px);
  }

  .image-icon {
    opacity: 0.4;
  }

  .show-all-button {
    width: 65px;
    height: 30px;
    line-height: 30px;
  }

  .featured-list-all {
    list-style: none;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 2fr));
    /* margin-bottom: -62px; */
    margin-top: -65px;
    margin-left: -40px;
  }

  .featured-list-all1 {
    list-style: none;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 2fr));
    margin-top: -65px;
  }

  .artist-card {
    margin-top: -85px;

  }

  .titles {
    padding: 0px;
    padding-left: 10px;
    padding-bottom: 65px;
  }

  .button-container {
    display: flex;
    /* margin-right: 25px; */
    align-items: center;
    margin-top: -60px;
  }

  .merging {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 93%; */
    margin-bottom: 6px;
  }

  .artist-image {
    max-width: 160px;
    height: 160px;
    border-radius: 10px;
  }

  .artist-card .buttons {
    position: relative;
    top: 40%;
    left: 80%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150%;
    opacity: 0;
    gap: 15px;
  }


}